---
layout: default
title: Home
---
{% assign page_category = site.data.category_list[page.category] %}

  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <!-- <div class="columns negative-m-s"> -->
        <div class="columns">

          <!-- game sections, one for each title -->
          {% for item in site.games reversed %}
            {% assign key = item.key %}
            {% assign game_posts = site.categories[key] %}
            {% include game-title-section.html key=key game=item game_posts=game_posts %}
          {% endfor %}

          <!-- {% include more-help.html %} -->
        </div>
      </div>
    </div>
    <!-- <div class="container-full">
      <div class="container grid-xl">
        <div class="columns">
          {% include more-help.html %}
        </div>
      </div>
    </div> -->