<div class="columns col-12 col-sm-12 mt-16" style="display: flex;">

<!-- <div class="column col-12 text-center mt-16">
  <h4>{{ game.name }}</h4>
</div> -->

<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  
  <div class="imgbox">
    <img src="{{site.baseurl | append: include.game.title-img }}" />
    <a href="{{ include.key | absolute_url }}" class="image-overlay">
        <span class="image-overlay-text">{{include.game.title}}</span>
    </a>
  </div>

</div>


<div class="column col-6 col-sm-12 p-8 mb-8 col-mx-auto">
  <a href="{{ include.key | absolute_url }}"><h5>{{ include.game.title }}</h5></a>
  <p>{{ include.game.description | newline_to_br }}</p>

  {% assign blogs = include.game_posts | where: "tag", "blog" %}
    {% for post in blogs %}
    <div class="blog-link-short">
      <a href="{{post.url}}">
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{ post.title }}
      </a>
    </div>
    {% endfor %}
    <br/>

  <div class="columns collections">
    {% assign video_links = include.game_posts | where: "tag", "video" %}
    {% for post in video_links %}
    <div class="imgbox" style="max-width: 150px">
      <img src="{{ site.baseurl | append:post.img }}"/>

      {% if post.direct-link %}
      <a href="{{ post.direct-link }}" class="image-overlay"></a>
      {% else %}
      <a href="{{ post.url }}" class="image-overlay"></a>
      {% endif %}
      <span href="{{ post.direct-link }}" class="image-overlay-text">{{post.title}}</span>
    </div>
    {% endfor %}

  </div>
</div>

</div>