<nav class="container grid-xl navbar">
  <div class="flex-vertical-center hide-sm">
  <!-- <div class="flex-vertical-center"> -->
    <a style="width: 20%;" href="{{ site.url }}{{ site.baseurl }}" class="logo">
      <!-- <img style="max-width: 100%;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}"/> -->
      <span style="color:#fffffe">shrekshao.com</span>
    </a>
  </div>
  <ul class="main-nav">
    <!-- {% if site.nav_item_one == null %}
    {% else %}
    <li class="mx-4">
      <a  class="nav-links" href="{{ site.nav_item_one_link }}">{{ site.nav_item_one }}</a>
    </li>
    {% endif %}
    {% if site.nav_item_two == null %}
    {% else %}
    <li class="mx-4">
      <a  class="nav-links" href="{{ site.nav_item_two_link }}">{{ site.nav_item_two }}</a>
    </li>
    {% endif %}
    {% if site.nav_item_three == null %}
    {% else %}
    <li class="mx-4">
      <a  class="nav-links" href="{{ site.nav_item_three_link }}">{{ site.nav_item_three }}</a>
    </li>
    {% endif %}
    <li>
      <a href="{{ site.nav_button_link }}" style="height: auto;" class="btn btn-lg btn-outline py-2">{{ site.nav_button }}</a>
    </li> -->

    <li class="mx-4">
    <!-- <li> -->
      <a  class="nav-links" href="{{ site.baseurl | append:'about'}}">关于</a>
    </li>
  </ul>
</nav>