// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
  text-rendering: optimizeLegibility;
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:hover,
  &:active,
  &.active {
    color: $link-color-dark;
    text-decoration: none;
  }
}

.blog-link-short a {
  color: #8f8f8f;
  font-weight: normal;

  .date {
    color: #a3a3a3;
    font-weight: lighter;
    float: right;
  }


  &:hover {
    color: $link-color-dark;
    // transition: all 0.2s ease;
    // -webkit-transition: all 0.2s ease;
  }
}

.blog-link-more {
  a {
    color: #8f8f8f;
    font-weight: normal;
  }
  
  float: right;
  vertical-align: right;
}