---
layout: default
---

{% include header.html %}
<style>
  /* .responsive-video-container {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  } */

  iframe {
    /* position: absolute; */
    display:block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 100%;
      min-height: 450px;
  }
</style>
<div class="container-full">
    <div class="container grid-xl">
      <div class="mt-12 show-md"></div>
      <div class="mt-8"></div>
      <div class="columns negative-m-xl">
        <div class="column col-12">
          
          <h2 class="text-light text-bold">{{ page.title }}</h2>
          <p class="text-light mb-0">{{ page.short-description }}</p>
        </div>
        <div class="column col-12">
          <div class="card">
            <div class="card-body">


                {%if page.bilibili %}
                {{page.bilibili}}
                {% endif %}

              {{ content }}

              
            


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>