---
layout: default
---
{% include header.html %}

{% assign page_category = site.data.category_list[page.category] %}

{% assign page_subcategory = site.data.subcategory_list[page.subcategory] %}

<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl"  style="min-height: 500px">
      <div class="column col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ '' | absolute_url }}">主页</a>
          </li>
          <li class="breadcrumb-item">
            <a href="">{{ page.title }}</a>
          </li>
        </ul>
        <h2 class="text-light text-bold">相关列表</h2>
        <!-- <h2 class="text-light text-bold">{{ page_subcategory.name }}</h2>
        <p class="text-light mb-2">{{ page_subcategory.description }}</p> -->
      </div>
      {% assign posts = site.categories[page.key] %}
      {% for post in posts %}
        {% include article-card.html %}
      {% endfor %}
      {% include more-help.html %}
    </div>
  </div>